{% extends 'forms/login.html' %}
{% set bg = 'admin' %}
{% block title %}Admin Login{% endblock %}

{% block prefix %}
Admin Login
{% endblock %}

{% block postfix %}
<h6 class="text-center pt-3">Don't have an account? <a href="{{ url_for('admin_signup') }}"> Click here </a></h6>
{% endblock %}
