{% extends 'layouts/main.html' %}
{% set bg = 'admin' %}
{% block title %}Admin Startpage{% endblock %}
{% block content %}
    <p class="text-center position-absolute " style="left: 450px"> Welcome admin {{ g.current_user.name }} ,</p>
    <p class="text-center position-absolute" style="top:100px; left: 450px"> What would you want to do?</p>
    <div class="bubbles-contain">
          <a class="btn btn-primary btn-lg ml-5" href="{{ url_for('config') }}" role="button">Config</a>
          <a class="btn btn-primary btn-lg ml-5" href="{{ url_for('manage') }}" role="button">Manage</a>
          <a class="btn btn-primary btn-lg ml-5" href="{{ url_for('history') }}" role="button">History</a>
          <a class="btn btn-primary btn-lg ml-5" href="{{ url_for('reset') }}" role="button">Reset</a>
    </div>





{% endblock %}