{% extends 'layouts/main.html' %}
{% set bg = 'admin' %}
{% block title %}Config{% endblock %}

{% block content %}

  <div class="bubbles-service">
  <form method="POST" accept-charset="UTF-16">
  {{ form.csrf_token }}
  <div class="form-row">
    <div class="form-group col-md-5 ml-5 mr-5">
      <label for="inputEmail4">Tên dịch vụ</label>
    {{ form.name_display(class_="form-control", value=service.name_display ) }}
    </div>
  </div>
  <div class="form-group ml-5 mr-5">
    <label for="inputAddress">Summary</label>
    {{ form.summary(class_="form-control", value=service.summary ) }}
  </div>
  <div class="form-group ml-5 mr-5">
    <label for="inputAddress2">Description</label>
    {{ form.description(class_="form-control", value=service.description ) }}
  </div>
  <div class="form-row">

    <div class="col-md-3 ml-5 mr-5">
      <label for="inputCity">Open time:</label>
      <div class="row">
        <div class="col-5">
    {{ form.open_time_hour(class_="form-control", value=service.open_time.hour) }} h
        </div>
        <div class="col-5">
    {{ form.open_time_minute(class_="form-control", value=service.open_time.minute) }} m
        </div>

      </div>
    </div>
    <div class="col-md-3 ml-5 mr-5">
      <label for="inputCity">Close time:</label>
      <div class="row">
        <div class="col-5">
    {{ form.close_time_hour(class_="form-control", value=service.close_time.hour) }} h
        </div>
        <div class="col-5">
    {{ form.close_time_minute(class_="form-control", value=service.close_time.minute) }} m
        </div>

      </div>
    </div>
    <div class="col-md-3 ml-3 mr-3">
      <label for="inputCity">Estimated serving time:</label>
      <div class="row">
        <div class="col-5">
    {{ form.estimated_time_hour(class_="form-control", value=service.estimated_time.hour) }} h
        </div>
        <div class="col-5">
    {{ form.estimated_time_minute(class_="form-control", value=service.estimated_time.minute) }} m
        </div>
      </div>
    </div>
  <div class="form-group ml-5 mr-5">
    <label for="inputAddress2">Background URL:</label>
     {{ form.BGURL(class_="form-control", value=service.BGURL) }}
  </div>
  <div class="form-group ml-5 mr-5">
    <label for="inputAddress2">Thumbnail URL:</label>
     {{ form.thumbnail_url(class_="form-control", value=service.thumbnail_url) }}
  </div>
  </div>
  <input type="submit" class="btn btn-primary co2-md-3 ml-5 mt-3" value="Update"></input>
</form>
    </div>





{% endblock %}