{% extends 'layouts/main.html' %}
{% block title %}History{% endblock %}

{% block content %}
        <div class="row">
        	<div class="col-lg-10">
        				<p class="text-right">Ticketing history</p>
        	</div>
        </div>

		<div class="row justify-content-center">
		<div class="bubbles-list col-lg-8 col-xs-12">
			<h2>Charts:</h2>
			<canvas id="myChart" width="400" height="150"></canvas>
			<hr/>
			<h2>Details:</h2>
			<ul>
				{% for ticket in tickets %}
				<li>
					<h4><strong>{{ ticket.id }}</strong></h4>
					<h6><span class="gray">number:</span> {{ ticket.no }}</h6>
					<h6><span class="gray">secret code:</span> {{ ticket.secret_code }}</h6>
					<h6><span class="gray">user id:</span> {{ ticket.user_id }}</h6>
					<h6><span class="gray">status:</span> {{ ticket.status.__str__().split('.')[1] }}</h6>
					<h6><span class="gray">got at:</span> {{ ticket.createdAt }}</h6>
					<h6><span class="gray">served at:</span> {{ ticket.servedAt }}</h6>
					<h6><span class="gray">finished at:</span> {{ ticket.finishedAt }}</h6>
				</li>
				
				{% endfor %}
			</ul>
		</div>
		</div>
		</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="/static/js/script.js"></script>
<script>
var data = {{ data }};
var labels = {{ labels }};
drawChart(labels, data);
</script>


{% endblock %}