{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}

{% block content %}

		<div class="container">

  			<div class="row my-row1">
  				<div class="col">
  					<p class="text-center bigbig position-fixed" style="left: 600px"><img src="/static/img/kiet/queue.png" height="100px" class="mr-3 pb-3  " >K3</p>
  					<p class="text-center bigbig position-fixed" style="top: 120px; left: 450px">Get Your Number</p>
  					<h3 class="text-center my-row1 position-fixed " style="top: 250px; left: 400px" >Saving your time by getting queue number online.</h3>
  				</div>

  			</div>
  			<div class="row justify-content-center my-row position-relative" style="top: 300px;">
  				<a class="btn btn-outline-primary btn-lg" href="{{ link }}" role="button">
				{{ text }}
				</a>
  			</div>
		</div>





{% endblock %}
