{% extends 'layouts/main.html' %}
{% set bg = 'admin' %}
{% block title %}Manage{% endblock %}

{% block content %}
			<div class="bubbles-service">
				<h1 class="text-center">{{ service.name_display }}</h1>
				{% if service.serving_no == 0 %}
				<h3 class="text-center">Not yet start serving. Press next to start.</h3>
				{% else %}
				<h2 class="text-center">Current number:</h2>

					  <h1 class="text-center bigbig"><span id="thisone">{{ service.serving_no}}</span></h1>
					  {% if service.next_no == service.serving_no %}
					  
					  <h3 class="text-center">No one got this number.</h3>
					  {% else %}
					  <h3 class="text-center">Secret code:</h3>
					  <h1 class="text-center pt-3">{{ ticket.secret_code }}</h1>
      				<h3 class="text-center">Waiting line:</h3>
					  <h3 class="text-center"><span id="thatone">{{ service.next_no - service.serving_no - 1 }}</span></h3>
					  {% endif %}
					
      			{% endif %}
    				<div class="mx-auto" style="width: 200px;">
    					<a style="display: {{ 'inline-block' if waiting else 'none' }};" href="{{ url_for('next') }}">
						<button type="button" class="btn btn-primary btn-lg" id="justdoit">Next</button>
						</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						{% if service.serving_no != 0 %}
						<a style="display: {{ 'inline-block' if waiting else 'none' }};" href="{{ url_for('skip') }}">
						<button type="button" class="btn btn-primary btn-lg" id="justdoit">Skip</button>
						</a>
						{% endif %}
    				</div>
    			</div>
    		<script type="text/javascript">
       			function doit(){
          			document.getElementById("thisone").innerHTML = "you";
        		}
        		function doit(){
          			document.getElementById("thatone").innerHTML = "you";
        		}

        		function addone(){
          			var foo = document.getElementById('thisone').innerHTML;
          			foo++;
          		document.getElementById('thisone').innerHTML = foo;
        		}
        		function minusone(){
          			var foo1 = document.getElementById('thatone').innerHTML;
          			foo1--;
          		document.getElementById('thatone').innerHTML = foo1;
        		}
    		</script>
			</div>

<script>
setInterval(() => window.location.reload(), 5000);
</script>


{% endblock %}