{% extends 'layouts/main.html' %}
{% block title %}Service list{% endblock %}

{% block content %}
        <div class="row">
        	<div class="col-lg-10">
        				<p class="text-right">Please select service</p>
        	</div>
        </div>

		<div class="row justify-content-center">
		<div class="bubbles-list col-lg-8 col-xs-12">
			<ul>
				{% for service in services %}
				<a href="{{ url_for('service', id=service.id) }}">
				<li>
					<img src="{{ service.thumbnail_url }}" height="80px" >
					<h5>{{ service.name_display }}</h5>
					</a>
					<h6>{{ service.summary if service.summary else '' }}</h6>
				</li>
				
				{% endfor %}
			</ul>
		</div>
		</div>
		</div>




{% endblock %}