{% extends 'layouts/main.html' %}
{% block title %}Service{% endblock %}

{% block content %}
		<link rel="stylesheet" type="text/css" href="/static/css/kiet/clock.css">
		<script src="/static/js/kiet/clock.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/kiet/popup.css">
		<link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
	</head>
	<body>
        <div class="row">
        	<div class="col-lg-10">
        		<a href="{{ url_for('home') }}"><p class="text-right">3K - Get Your Number</p></a>
        	</div>
        </div>
		
		<div class="row justify-content-center">

			<div class="bubbles-service col-lg-8 col-xs-12" style="background: url({{ service.BGURL }}) no-repeat; background-size: 100% 100%;">

				<h1 class="text-center" style="color: red;">{{ service.name_display }}</h1>
				<div class="row" > 
					<div class="col-3 " style=" border: 0px solid; border-radius: 10px; margin: 20px; font-size: 100px">
						<h5 class="text-center">Current serving:</h5>
						<div class="Counter" >
							<span >{{ service.serving_no }}</span>
							<!--
		  					<div class="Counter-unit" data-js="counter-tens">
		    					<div class="Counter-number" data-js="current">0</div>
		   						<div class="Counter-number" data-js="next">0</div>
		  					</div>
		  					<div class="Counter-unit" data-js="counter-ones">
		    					<div class="Counter-number" data-js="current">0</div>
		    					<div class="Counter-number" data-js="next">0</div>
		  					</div>
							-->
						</div>
					</div>
					<div class="col-8" style="font-size: 15px; padding:15px; ">
						{{ service.description if service.description else '' }}
					</div>
				</div>

				<div class="row" style="margin: 10px">
					{% if closed %}
					Service is closed.
					{% else %}
					{% if ticket %}
					<div class="col-12">
						<div class="row">
							<h4>You got this number: {{ ticket.no }}</h4>
						</div>
						<div class="row">
							<a style="width:auto; " href="{{ url_for('ticker', id=ticket.id) }}" role="button"><button class="btn btn-primary btn-lg">Go to ticket page</button></a>
						</div>
					</div>
					{% else %}
	  				<a class="btn btn-primary btn-lg ml-5" onclick="showpopup()" role="button">Get next number: {{ service.next_no }}</a>
					{% endif %}
					{% endif %}
  				</div>
				<br/>
				<div class="row">
				<div class="col-8 offset-2">
			  	{% if expected and not closed %}
  				<H4 class="" >Expected to be served at:
				  <span style="text-decoration: underline;">
				  {{ expected.strftime('%I:%M %p') }}
				  </span>
				</H4>
				{% endif %}
				{% if service.close_time %}
				<H4 class="" >Close time:
					<span style="text-decoration: underline;">
					{{ service.close_time.strftime('%I:%M %p') }}
					</span>
				</H4>
				{% endif %}
				</div>
				</div>

				<div id="popup1" class="overlay">
					<div class="popup">
					<h4 class="text-center">Xác nhận lấy số</h4>
					<a class="close" href="#">&times;</a>
					<h5 class="text-center pt-3"> Bạn muốn lấy số này?</h5>
					<div class="button-container">
						<div class="button-vertical-center">
							<a class="btn btn-primary" href="{{ url_for('getticket', service_id=service.id) }}" role="button">Xác nhận</a>
					<a class="btn btn-primary" onclick="hidepopup()" role="button">Hủy bỏ</a>
						</div>
					</div>
					

					</div>
				</div>
				
			</div>
			</div>
			</div>



<script>
setInterval(() => window.location.reload(), 5000);

function showpopup() {
	var popup = document.getElementById('popup1');
	popup.style.visibility = 'visible';
	popup.style.opacity= 1;
}

function hidepopup() {
	var popup = document.getElementById('popup1');
	popup.style.visibility = 'hidden';
	popup.style.opacity= 0;
}
</script>

		
{% endblock %}
