{% extends 'layouts/main.html' %}
{% block title %}Ticket{% endblock %}

{% block content %}
        <div class="row">
        	<div class="col-lg-10">
        				<a href="{{ url_for('home') }}"><p class="text-right">3K - Get Your Number</p></a>
        	</div>
        </div>
			<div class="bubbles-service"> <!--style="background: url({{ service.BGURL }}) no-repeat; background-size: 100% 100%;"-->
				<h1 class="text-center" style="font-color:red">{{ service.name_display }}</h1>
				<h2 class="text-center ">Your number:</h2>
				<h1 class="text-center pt-3 bigbig">{{ ticket.no }}</h1>
				<h2 class="text-center ">Secret code:</h2>
				<h1 class="text-center pt-3">{{ ticket.secret_code }}</h1>
				<h2 class="ml-5 pt-3" >
				Status: <span style="color: {{ status_color }}">{{ status }}</span>
				</h2>
			</div>
			</div>

<script>
setInterval(() => window.location.reload(), 5000);
</script>

{% endblock %}