{% extends 'forms/login.html' %}
{% block title %}User login{% endblock %}

{% block prefix %}
User Login
{% endblock %}

{% block postfix %}
<h6 class="text-center pt-3">Don't have an account? <a href="{{ url_for('user_signup') }}"> Click here </a></h6>
<h6 class="text-center pt-3">If you are an admin, click <a href="{{ url_for('admin_login') }}"> here </a></h6>
{% endblock %}
