<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css">
      body {
         background: url(
          {% if bg=='admin' %}
          '/static/img/kiet/admin-bg.png'
          {% else %}
          '/static/img/kiet/user-bg.png'
          {% endif %}
          ) no-repeat center center fixed;
           -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
         background-size: cover;
         }
    </style>
      <link rel="stylesheet" href="/static/css/bootstrap.min.css"  crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/static/css/kiet/style.css">
      <link href="https://fonts.googleapis.com/css2?family=Fondamento&family=Julius+Sans+One&family=Yellowtail&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/static/css/kiet/popup.css">
      <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">



  </head>
  <body>



      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-block alert-error fade in">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block corner_button %}
      {% if g.current_user.is_authenticated and not g.current_user.is_anonymous %}
      <h6 class="mt-3 mr-5 float-right">
        {{ g.current_user.type_ }}: {{ g.current_user.name }}
        <a class="btn btn-primary btn-sm" href="{{ url_for('logout') }}" role="button">Log out</a>
      </h6>
      {% else %}
      <a class="btn btn-primary btn-sm mt-3 mr-5 float-right" href="{{ url_for('user_login') }}" role="button">Log in</a>
      {% endif %}
      {% endblock %}

      {% block content %}{% endblock %}
      <script>
      var perfEntries = performance.getEntriesByType("navigation");

      if (perfEntries[0].type === "back_forward") {
          location.reload(true);
      }
      </script>
      <script src="/static/js/libs/jquery.slim.min.js"  crossorigin="anonymous"></script>
      <script src="/static/js/libs/popper.min.js"  crossorigin="anonymous"></script>
      <script src="/static/js/libs/bootstrap.min.js" ></script>
      <script src="/static/js/kiet/clock.js"></script>
</body>
</html>
