html, body {
  background-color: #222222;
  height: 100%;
}

body {
  align-items: center;
  color: #000000;
  justify-content: center;
}

.Counter {
  display: flex;
  height: 150px;
  overflow: hidden;
  justify-content: center;
}

.Counter-number {
  width: 60px;
  text-align: center;
}

.Counter-unit.is-changing {
  transform: translateY(-100px);
  transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
