.bubbles {
  background-color: white;
  width: 300px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding-top: 30px; 
  padding-bottom: 30px;
  border: 1px solid;
}

.my-row1{
  margin-top: 10px; 
  color: white;
  font-family: 'Fondamento', cursive;
}

.my-row{
  margin-top: 170px; 

}

.bubbles-list {
  background-color: white;
  width: 1000px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding-top: 20px; 
  padding-bottom: 20px;
  border: 1px solid;
  overflow:hidden; 
  overflow-y:scroll;
}

.bubbles-service {
  background-color: white;
  width: 1000px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding-top: 20px; 
  padding-bottom: 20px;
  border: 1px solid;
}

.bubbles-contain {
  width: 700px;
  height: 100px;
  position: absolute;
  left: 52%;
  top: 40%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding-top: 20px; 
  padding-bottom: 20px;
}

p{
	font-family: 'Yellowtail', cursive;
	font-size: 50px;
	color: red;
}


ul{
	margin: 10px;
	padding: 0px;
}
ul li{
	list-style: none;
	clear: left;
	border-bottom: 2px solid #ccc;
	margin-bottom: 10px;
}

ul li img{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.button-container {
  height: 50px;
  position: relative;
}

.button-vertical-center {

  position: absolute;
  top: 50%;
  left: 23%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bigbig{
  font-size: 75px;
}

.aligncenter{
  margin-left: 35%;
  margin-top: 30px;
  margin-bottom: 20px;
}

#logout-btn {
  position: fixed;
  right: 5%;
  top: 5%;
}

.gray {
  color: gray;
}