{% extends 'layouts/main.html' %}
{% block title %}Login{% endblock %}

{% block prefix %}
Login
{% endblock %}

{% block postfix %}
<h6 class="text-center pt-3">Don't have an account? <a href="{{ url_for('user_signup') }}"> Click here </a></h6>
{% endblock %}

{% block content %}
    <p class="text-center"><img src="/static/img/kiet/queue.png" height="50px" class="mr-3">K3 - Get Your Number</p>
		<div class="bubbles">
    		<div class="col">
        <h4>
        {{ self.prefix() }}
        </h4>
     			<form method="POST">
				 {{ form.csrf_token }}
  					<div class="form-group">
    					<label for="formGroupExampleInput">Username:</label>
						{{ form.name(class_ = "form-control", id = "formGroupExampleInput", required = true, autofocus = true) }}
  					</div>
  					<div class="form-group">
    					<label for="formGroupExampleInput2">Password:</label>
						{{ form.password(class_ = "form-control", id = "formGroupExampleInput2", required = true) }}
  					</div>
  					<input type="submit" class="btn btn-primary btn-lg col-sm" role="button" value="Log in"></input>
				</form>
    		</div>
        {{ self.postfix() }}
  		</div>



		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"  crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"  crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
{% endblock %}

{% block corner_button %}
{% endblock %}