{% extends 'layouts/main.html' %}

{% block title %}Signup{% endblock %}

{% block prefix %}
Signup
{% endblock %}

{% block content %}
<p class="text-center"><img src="/static/img/kiet/queue.png" height="50px" class="mr-3">K3 - Get Your Number</p>
		<div class="bubbles">
			<div class="col">
        <h4>
        {{ self.prefix() }}
        </h4>
     		<form method="POST">
				 {{ form.csrf_token }}
  					<div class="form-group">
    					<label for="formGroupExampleInput">Username:</label>
    					{{ form.name(class_ = "form-control", id = "formGroupExampleInput", required = true, autofocus = true) }}
  					</div>
  					<div class="form-group">
    					<label for="formGroupExampleInput2">Password:</label>
    					{{ form.password(class_ = "form-control", id = "formGroupExampleInput2", required = true) }}
  					</div>
  					<div class="form-group">
    					<label for="formGroupExampleInput3">Confirm Password:</label>
    					{{ form.confirm(class_ = "form-control", id = "formGroupExampleInput3", required = true) }}
  					</div>
  						<input type="submit" class="btn btn-success btn-lg col-sm" href="" role="button" value="Sign up"></input>
  						

				</form>
    		</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"  crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"  crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
{% endblock %}

{% block corner_button %}
{% endblock %}